name: Building the server
on:
  pull_request:
    branches:
      - main


jobs:

  # Label of the runner job
  runner-job:
    # You must use a Linux environment when using service containers or container jobs
    runs-on: ubuntu-latest

    # Service containers to run with `runner-job`
    services:
      # Label used to access the service container
      postgres:
        # Docker Hub image
        image: postgres
        # Provide the password for postgres
        env:
          POSTGRES_DB: skybooker     # <- Set the database name here
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: root
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          # Maps tcp port 5432 on service container to the host
          - 5432:5432

    steps:
      - name: Check out code
        uses: actions/checkout@v2


      - name: Set up JDK 17
        uses: actions/setup-java@v1


        with:
          java-version: '17'

      - name: Build the server
        run: mvn clean install -DskipTests
        working-directory: ./server

      - name: Testing the application
        run: mvn test
        working-directory: ./server